.comix-block {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 5px;
}
.comix-block-first {
    grid-column: 1 / 2;
    background: url(img/photo-1.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
}
.comix-block-second {
    grid-column: 2 / 3;
    background: url(img/photo-2.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
}


.comix-second-block {
    display: grid;
    grid-template-columns: 1.2fr 1.3fr 1fr;
    grid-column-gap: 5px;
}
.comix-block-third {
    grid-column: 1 / 2;
    background: url(img/photo-3.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
}
.comix-block-fourth {
    grid-column: 2 / 3;
    background: url(img/photo-4.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
}
.comix-block-fiveth {
    grid-column: 3 / 4;
    background: url(img/photo-5.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    
}

.comix-third-block {
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.5fr 1.5fr;
    grid-template-rows: 2fr 2fr;
    grid-column-gap: 5px;
}
.comix-block-sixth {
    grid-column: 1 / 2;
    background: url(img/photo-6.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row: 1 / 3;
    
}
.comix-block-seventh {
    grid-column: 2 / 3;
    background: url(img/photo-7.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row: 1 / 3;
    
}
.comix-block-eight {
    grid-column: 3 / 4;
    background: url(img/photo-8.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row: 1 / 3;
    
}
.comix-block-nineth {
    grid-column: 4 / 5;
    background: url(img/photo-9.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row: 1 / 3;
    
}
@media (max-width: 1200px) {
    .comix-block-third {
    grid-column: 1 / 4;
    grid-row: 1;
    background: url(img/photo-3.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
}
.comix-block-fourth {
    grid-column: 1 / 4;
    grid-row: 2;
    background: url(img/photo-4.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
}
.comix-block-fiveth {
    grid-column: 1 / 4;
    grid-row: 3;
    background: url(img/photo-5.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    
}
    .comix-block-first {
        grid-column: 1 / 3;
        grid-row: 1;
        background: url(img/photo-1.png) center no-repeat;
        background-size: cover;
        min-height: 280px;
   
}
.comix-block-second {
    grid-column: 1 / 3;
    grid-row: 2;
    background: url(img/photo-2.png) center no-repeat;
    background-size: cover;
    min-height: 280px;
}
    
    .comix-third-block {
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.5fr 1.5fr;
    grid-template-rows: 2fr 2fr;
    
}
.comix-block-sixth {
    grid-column: 1 / 5;
    background: url(img/photo-6.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row: 1;
    
}
.comix-block-seventh {
    grid-column: 1 / 5;
    background: url(img/photo-7.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row:2;
    
}
.comix-block-eight {
    grid-column: 1 / 5;
    background: url(img/photo-8.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row:3;
    
}
.comix-block-nineth {
    grid-column: 1 / 5;
    background: url(img/photo-9.png) center no-repeat;
    background-size: cover;
    min-height: 270px;
    grid-row: 4;
    
}
}